apiVersion: v1alpha
kind: playwright-cucumberjs
sauce:
  region: us-west-1
  concurrency: 10
  metadata:
    tags:
      - e2e
    build: "$BUILD_ID"
defaults:
  timeout: 5m
playwright:
  version: 1.48.2
rootDir: ./
suites:
  - name: My Cucumber Test
    # The browserName affects the browser metadata of the job as it shows up on the Sauce Labs UI. This value is made available as an environment variable `BROWSER_NAME` on the VM.
    # It's the user's responsibility to launch the correct browser using Playwright,
    # so that the Sauce Labs job metadata matches the actual browser used underneath.
    browserName: chromium
    options:
      paths:
        - "features/**/*.feature"
      require:
        - "features/support/*.js"
      format:
        - "json:my-cucumber.json"
# npm:
#   usePackageLock: true
npm:
  dependencies:
    - "@cucumber/cucumber"
    - "@saucelabs/cucumber-reporter"
    - "ts-node"
    - "typescript"

reporters:
  spotlight: # Prints an overview of failed or otherwise interesting jobs.
    enabled: true
